body {
    padding: 0;
    margin: 0;
    position: relative;
    font-family: sans-serif;
}

header {
    position: relative;
}

header img {
    width: 100%;
    height: 660px;
    opacity: 0.3;
    position: relative;
    z-index: -1;
}

nav {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    width: 100%;
    height: 85px;
    z-index: 1;
}

nav ul {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-left: 55%;
    padding-top: 1.5%;
}

nav ul li {
    margin-left: 1em;
}

nav img {
    padding-left: 8%;
    position: fixed;
    width: 180px;
    height: 85px;
    z-index: 1;
    opacity: 1;
}

.content {
    position: absolute;
    top: 30%;
    margin: 0 10%;
    padding: 2em 0;
}

.content p {
    position: relative;
    font-size: 19px;
    width: 50%;
}

.content button {
    border-radius: 20px;
    border: 0;
    width: 150px;
    height: 40px;
    background-color: rgb(36, 113, 163);
    color: white;
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s;
    
}

section {
    padding-top: 2%;
    position: relative;
}

section header {
    position: relative;
}

.wave {
    position: relative;
    width: 100%;
    margin-bottom: -5px;
    margin-top: 5%;
}

/*----theory----*/

#theory {
    position: relative;
    background-color: rgb(236, 234, 234);
    padding-left: 10%;
}

#theory div img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 400px;
    height: 300px;
}

#theory div {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}

#theory header {
    padding-left: 10%;
    text-shadow: rgba(36, 113, 163, 0.5) 2px 5px;
}

#theory header h1 {
    font-size: 40px;
}


#theory ul {
    margin-top: 15%;
}

#theory li {
    font-weight: normal;
}

/*-----tasks----*/
#tasks {
    position: relative;
    padding-left: 10%;
}
#tasks header {
    text-shadow: rgba(36, 113, 163, 0.5) 2px 5px;
}

#tasks header h1 {
    font-size: 40px;
}

#tasks div {
    display: grid;
    grid-template-columns: 40% auto;
    
}

#tasks div pre {
    border: 0;
    width: 70%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*------video-----*/
#video {
    position: relative; 
    padding-left: 10%;
    background-color:whitesmoke;
}

#video header {
    text-shadow: rgba(36, 113, 163, 0.5) 2px 5px;
    font-size: 25px ;
}

#video hr {
    width: 400px;
    margin-left: 0;
}

#video div {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    border: 1px solid#263640;
    background-color: #263640;
    color: white;
    width: 50%;
    height: 400px;
}

#video div h2 {
    font-size: 30px;
    margin-top: 10%;
}

#video div p {
    font-size: 20px;
}

#video button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    margin-top: 5%;
}

video {
    position: relative;
    width: 500px;
    margin-left: 550px;
    margin-top: -16%;
}

/*------contacts----*/
#contacts {
    margin-top: 5%;
    position: relative;
    padding-left: 10%;
}

#contacts h2 {
    font-size: 40px;
    text-shadow: rgba(36, 113, 163, 0.5) 2px 5px;
}

#contacts img {
    width: 300px;
    height: 200px;
    border-radius: 0 80px;
    margin-top: 10%;
}

#contacts div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.flip-box {
	background-color: transparent;
	width: 300px;
	height: 200px;
	border: 1px solid #ffffff;
	perspective: 1000px;
}

.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
	transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flip-box-front {
	background-color: #ffffff;
	color: black;
}

.flip-box-front img {
	width: 100%; 
	height: 190px;
}

.flip-box-back {
	transform: rotateX(180deg);
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 30% auto;
    height: 100vh;
    margin-top: 7%;
    background-color:whitesmoke;
}

.left {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.header > h2 {
    margin: 0;
    color: #4f46a5;
}

.header > h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0,0,0,.4);
}

.form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.form > p {
    text-align: right;
}

.form > p > a {
    color: #000;
    font-size: 14px;
}

.form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .1s;
    margin-top: 20px;
}

.form-field:focus {
    border-color: #0f7ef1;
}

.form > button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
}

.animation {
    animation-name: move;
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.a1 {
    animation-delay: 2s;
}

.a2 {
    animation-delay: 2.1s;
}

.a3 {
    animation-delay: 2.2s;
}

.a4 {
    animation-delay: 2.3s;
}

.a5 {
    animation-delay: 2.4s;
}

.a6 {
    animation-delay: 2.5s;
}

@keyframes move {
    0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    }

    100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    }
}

@keyframes left {
    0% {
    opacity: 0;
    width: 0;
    }

    100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
    }
}
footer {
    position: relative;
    height: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

a:hover {
    color:rgb(36, 113, 163);
}

header li {
    list-style: none;
}




